# PostgreSQL
DATABASE_URL=postgres://fintify:fintify123@localhost:5432/fintifydb
# Mail related settings
DJANGO_MAILGUN_API_KEY=key-zzzzzzzzzzzzzzzzzzzzz
# Twilio and Authy keys
AUTHY_KEY=skfsjflksjflskjfsldfjslfj
TWILIO_ACCOUNT_SID=sldkfjsdlfjksflksjflsjkdflskdjf
TWILIO_AUTH_TOKEN=lskdjfsldfjkslkfjsdlfj
TWILIO_FROM_NUMBER=+1123456789
